name: Pipeline

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Rust 
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
        
      - name: Formatting
        run: cargo fmt --all -- --check

      - name: Linting
        run: cargo clippy -- -D warnings

      - name: Run Tests
        run: cargo test --verbose 
 

    
    

